.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 85vh;
}

.leftTop-section {
    grid-column: 1;
    grid-row: 1;
    background-color: #f2f2f2;
    background-image: url("/src/img/npc.jpg");
    background-size: cover;
    /* Estilos adicionales para el trozo superior izquierdo */
}

.rightTop-section {
    grid-column: 2;
    grid-row: 1;
    background-color: #e6e6e6;
    background-image: url("/src/img/town.jpg");
    background-size: cover;

    /* Estilos adicionales para el trozo superior derecho */
}

.leftBottom-section {
    grid-column: 1;
    grid-row: 2;
    background-color: #d9d9d9;
    background-image: url("/src/img/quest.jpg");
    background-size: cover;
}

.rightBottom-section {
    grid-column: 2;
    grid-row: 2;
    background-color: #cac5c5;
    background-image: url("/src/img/item.jpg");
    background-size: cover;

    /* Estilos adicionales para el trozo inferior derecho */
}