/*CampaignList.css*/
@media screen and (min-width: 1025px) {
    .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1vh;
        border-style: dashed;
        max-width: 100%;
    }
}
.button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .list-container {

    }
}

@media screen and (max-width: 767px) {
    .list-container {

    }
}
