.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #c2bcbc;
    color: white;
    padding: 1rem;
    border: solid 1px gray;
  }
  
  .logout-btn {
    background-color: #f0180d;
    color: white; 
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #af23d9;
  }
  