.containerAcm {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.left-sectionAcm {
    flex: 1;
    background-color: #f2f2f2;
    background-image: url("/src/img/adventurer.jpg");
    background-size: cover;

    /* Aquí puedes agregar estilos adicionales para la sección de aventureros */
}

.middle-sectionAcm {
    flex: 1;
    background-color: #e6e6e6;
    background-image: url("/src/img/campaign.jpg");
    background-size: cover;

    /* Aquí puedes agregar estilos adicionales para la sección de campañas */
}

.right-sectionAcm {
    flex: 1;
    background-color: #d9d9d9;
    background-image: url("/src/img/monster.jpg");
    background-size: cover;

    /* Aquí puedes agregar estilos adicionales para la sección de monstruos */
}

.section-title {
    text-align: center;
    margin-top: 1rem;
}

.section-button {
    margin-top: 8rem; /* Cambiado a 1rem en lugar de auto */
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #b993d6;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.section-button:hover {
    background-color: darkred;
}
